<div class="login-pf-page">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
      <header class="login-pf-page-header">
        <p>
        </p>
      </header>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
          <div class="card-pf">
            <header class="login-pf-header">
              <h1>Log In to Your Account</h1>
            </header>
            <% flash.each do |key, value| %>
            <div id="error_explanation" class="alert alert-<%=key%>" role="alert">
              <p>
                <%= value %>
              </p>
            </div>
            <% end %>
            <%= render 'form_new' %>
            <p class="login-pf-signup">Need an account?
              <%= link_to 'Sign up', new_user_path %>
            </p>
          </div><!-- card -->
          <footer class="login-pf-page-footer">
            <ul class="login-pf-page-footer-links list-unstyled">
              <li><a class="login-pf-page-footer-link" href="#">Terms of Use</a></li>
              <li><a class="login-pf-page-footer-link" href="#">Help</a></li>
              <li><a class="login-pf-page-footer-link" href="#">Privacy Policy</a></li>
            </ul>
          </footer>
        </div><!-- col -->
      </div><!-- row -->
    </div><!-- col -->
  </div><!-- row -->
</div>
