<div>
  <div class="row">
    <label class="col-sm-2 col-md-2">Asset type name</label>
    <div class="col-sm-10 col-md-10">
      <%= @asset_type.name %>
    </div>
  </div>

  <div class="row">
    <label class="col-sm-2 col-md-2">Product serial</label>
    <div class="col-sm-10 col-md-10">
      <%= @asset_type.description %>
    </div>
  </div>
</div>
