<div class="card-pf">
  <h1><%= current_logged_user.firstname.capitalize %>, your account will be deleted forever, are you sure you want to delete it ?</h1>

  <%= link_to "Yes, delete my account.", user_path(current_logged_user.id), :method => :delete, :class => "btn btn-danger btn-lg" %>
</div>
