<div class="card-pf">
  <header class="login-pf-header">
    <h1>My profil</h1>
    <p class="text-center">Edit your preferences</p>
  </header>
  <% flash.each do |key, value| %>
  <div id="error_explanation" class="alert alert-<%=key%>" role="alert">
    <p>
      <%= value %>
    </p>
  </div>
  <% end %>
  <%= render 'form_new' %>
</div>
