<div class="card-pf">
  <header class="login-pf-header">
    <h1>Home </h1>
  </header>
  <% flash.each do |key, value| %>
  <div id="error_explanation" class="alert alert-<%=key%>" role="alert">
    <p>
      <%= value %>
    </p>
  </div>
  <% end %>
</div>
