<div class="card-pf">
  <header class="login-pf-header">
    <h1>Mission's assets</h1>
  </header>
  <% flash.each do |key, value| %>
  <div id="error_explanation" class="alert alert-<%=key%>" role="alert">
    <p>
      <%= value %>
    </p>
  </div>
  <% end %>
  <%= render 'new_assets_mission' %>
</div>
